* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: grid;
  grid-template:
    "sidebar header header" 80px
    "sidebar server main" 1fr
    "sidebar server input" 60px /
    100px 200px 1fr;
  gap: 10px;
}

.header {
  grid-area: header;
  background-color: orange;
}

.sidebar {
  background-color: pink;
  grid-area: sidebar;
}

.server {
  grid-area: server;
  background-color: blue;
}

.main {
  grid-area: main;
  background-color: yellow;
}

.input {
  grid-area: input;
  background-color: brown;
}
