* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: grid;
  grid-template:
    "a a a a" 1fr
    "b c d e" 3fr
    "b c d e" 0.8fr
    "b c d e" 1.2fr /
    200px 3fr 1fr 0.3fr;
  gap: 10px;
}

.a {
  grid-area: a;
  background-color: orange;
}

.b {
  background-color: pink;
  grid-area: b;
}

.c {
  grid-area: c;
  background-color: blue;
}

.d {
  grid-area: d;
  background-color: yellow;
}

.e {
  grid-area: e;
  background-color: brown;
}

.f {
  grid-area: f;
  background-color: green;
}


@media screen and (max-width: 600px) {
    .container{
        grid-template:
        "a a a a " 1fr
        "b c d e " 3fr
        "b c d e " 0.8fr
        "b c d e " 1.2fr /
        200px 3fr 1fr 0.5fr;
    }

    .e{
      display: none;
    }
}
