* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: grid;
  grid-template:
    "header header header header" 100px
    "nav mail settings sidebar" 1fr /
    200px 1fr 0.2fr 80px;
  gap: 10px;
}

.header {
  grid-area: header;
  background-color: orange;
}

.nav {
  background-color: pink;
  grid-area: nav;
}

.mail {
  grid-area: mail;
  background-color: blue;
}

.settings {
  grid-area: settings;
  background-color: yellow;
}

.sidebar {
  grid-area: sidebar;
  background-color: brown;
}

@media screen and (max-width: 900px) {
  .container {
    grid-template:
      "header header header" 100px
      "nav mail settings" 1fr /
      200px 1fr 0.2fr;
  }

  .sidebar {
    display: none;
  }
}
