* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  display: grid;
  gap: 10px;
  grid-template: 
  "header header header header header " 1fr
  "left-space profile actions news right-space " 2fr
  "left-space notifications reacts views right-space"  2fr
  "left-space recents reacts recomendations right-space"  2fr /
  0.6fr 1fr 3fr 1fr 0.6fr;  
}

.header{
  grid-area: header;
  background-color: red;
}

.right-space{
  grid-area: right-space;
}

.profile {
  grid-area: profile;
  background-color: blue;
}

.actions {
  grid-area: actions;
  background-color: yellow;
}

.news {
  grid-area: news;
  background-color: brown;
}

.left-space{
  grid-area: f;
  background-color: white;
}

.notifications{
  grid-area: notifications;
  background-color: green;
}

.reacts {
  grid-area: reacts;
  background-color: orange;
}

.views {
  grid-area: views;
  background-color: gray;
}

.recents {
  grid-area: recents;
  background-color: pink;
}

.recomendations {
  grid-area: recomendations;
  background-color: skyblue;
}


@media screen and (max-width: 900px) {
  .container{
    grid-template: 
    "header header header header header" 1fr
    "left-space profile actions news right-space " 2fr
    "left-space notifications reacts views right-space"  2fr
    "left-space recents reacts recomendations right-space"  2fr /
    0.6fr 1fr 3fr 1fr 0.6fr; 
  }

  .news, .views, .recomendations{
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .container{
    grid-template: 
    "header header header header header " 1fr
    "left-space profile actions news right-space " 2fr
    "left-space notifications reacts views right-space"  2fr
    "left-space recents reacts recomendations right-space"  2fr /
    0.6fr 1fr 3fr 1fr 0.6fr; 
  }

  .actions, .reacts{
    display: none;
  
  }
}
